.logo_place_footer {
  height: 35px;
  background-image: url('../../../images/logo_white.svg');
  margin: 0;
  opacity: .5;
  transition: ease-in-out .3s;
}

.logo_place_footer:hover {
  transition: ease-in-out .3s;
  opacity: .3;
}
