.page {
  margin: 0;
  padding: 0;
  background-color: #2A2C2F;
  font-family: 'Inter', 'Arial', sans-serif;
  color: #fff;
	max-width: 1440px;
	-moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}