.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-weight: normal;
  font-size: 18px;
	font-style: normal;
  line-height: 22px;
  text-align: center;
  z-index: 2;
}

@media screen and (max-width: 768px) and (min-width: 600px) {
  .cover__subtitle {
    width: 85%;
    margin-bottom: calc((480px - (152px + 32px + 66px))/2);
  }
}

@media screen and (max-width: 600px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: calc((200px - (70px + 16px + 48px))/2);
    max-width: 273px;
  }
}